## 📘 My latest blog posts

{{#blogFeed}}
- [{{title}}]({{{link}}})
{{/blogFeed}}


## Links

<div align="center">
  <a href="https://berkselvi.dev">
    <img width="60" src="https://berkselvi.dev/img/logo.svg" /><br/>Website
  </a>
  &emsp;&emsp;
  <a href="https://twitter.com/berkslv">
    <img width="60" src="https://raw.githubusercontent.com/berkslv/berkslv/main/img/twitter.svg" /><br/>Twitter
  </a>
  &emsp;&emsp;
  <a href="https://www.linkedin.com/in/berkslv/">
    <img width="60" src="https://raw.githubusercontent.com/berkslv/berkslv/main/img/linkedin.svg" /><br/>LinkedIn
  </a>
  &emsp;&emsp;
  <a href="https://medium.com/@berkslv">
    <img width="60" src="https://raw.githubusercontent.com/berkslv/berkslv/main/img/medium.svg" /><br/>Medium
  </a>
</div>
